In [12]:
"""
Checking for Web Site Permission, Whether Website allows to perform web scrapping or Not.
"""
import requests
from bs4 import BeautifulSoup 
r=requests.get(" https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
r.status_code

200

In [13]:
# 5.	Write a python program to scrape cricket rankings from 'www.icc-cricket.com' . You have to scrape:
# ii)	Top 10 ODI Batsmen in men along with the records of their team and rating.
# iii)	Top 10 ODI bowlers along with the records of their team and rating

In [14]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

headers = {
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"
    }

urls = [
"https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting",
"https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling",
]

final_result_file_name = "All Ranking List.csv"
final_column_names = ["Ranking Type", "Position", "Player Name", "Team Name", "Rating"]
pd.DataFrame(columns=final_column_names).to_csv(final_result_file_name, sep="\t", index=False, encoding="utf-8")

for url in urls:
    request_object = requests.get(url, headers=headers)
    html_content = request_object.text
    print(request_object.status_code, "->", url)
    soup_object = BeautifulSoup(html_content, "lxml")
    for element in soup_object.select('[class="ranking-pos up"], [class="ranking-pos down"]'):
    element.replace_with(BeautifulSoup("<" + element.name + "></" + element.name + ">", "html.parser"))

    ranking_type = soup_object.select_one(".rankings-block__title-container > h4").text

    result_file_name = ranking_type + ".csv"
    column_names = ["Position", "Player Name", "Team Name", "Rating"]
    pd.DataFrame(columns=column_names).to_csv(result_file_name, sep="\t", index=False, encoding="utf-8")

    for element in soup_object.select('table[class="table rankings-table"] tr'):
    if(element.find("th")):
    continue
        data_dict = dict()

        data_dict["Ranking Type"] = ranking_type
        if(element.select_one('[class*="position"]')):
            data_dict["Position"] = element.select_one('[class*="position"]').text
        for player_name in (element.select('a[href*="/player-rankings"]')):
            if(player_name.text.strip()):
                data_dict["Player Name"] = player_name.text
        if(element.select_one('[class^="flag-15"]')):
            data_dict["Team Name"] = element.select_one('[class^="flag-15"]')["class"][-1]
        if(element.select_one('[class$="rating"]')):
        data_dict["Rating"] = element.select_one('[class$="rating"]').text
        if(element.select_one('td.u-hide-phablet')):
            data_dict["Career Best Rating"] = element.select_one('td.u-hide-phablet').text
        for key in data_dict.keys():
            data_dict[key] = re.sub(r"\s+", " ", data_dict[key])
            data_dict[key] = data_dict[key].strip()
        pd.DataFrame([data_dict], columns=column_names).to_csv(result_file_name, sep="\t", index=False, header=False, encoding="utf-8", mode="a")
        pd.DataFrame([data_dict], columns=final_column_names).to_csv(final_result_file_name, sep="\t", index=False, header=False, encoding="utf-8", mode="a")

200 -> https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting
200 -> https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling

In [5]:
# I have renamed the saved file from "Men's ODI Batting Rankings.csv" to "Men ODI Batting Rankings.csv" ----
#----- As I was getting error while loading.


df = pd.read_csv('/content/Men ODI Batting Rankings.csv')
df

   Position\tPlayer Name\tTeam Name\tRating
0                   1\tBabar Azam\tPAK\t873
1                  2\tVirat Kohli\tIND\t844
2                 3\tRohit Sharma\tIND\t813
3                   4\tRoss Taylor\tNZ\t801
4                  5\tAaron Finch\tAUS\t779
..                                      ...
95                  96\tMoeen Ali\tENG\t404
96               97\tChris Woakes\tENG\t403
97              98\tMatthew Cross\tSCO\t398
98           99\tWesley Madhevere\tZIM\t397
99              100\tSam Billings\tENG\t396

[100 rows x 1 columns]

In [6]:
# I have renamed the saved file from "Men's ODI Bowling Rankings.csv" to "Men ODI Bowling Rankings.csv" ----
#----- As I was getting error while loading.
df = pd.read_csv('/content/Men ODI Bowling Rankings.csv')
df

   Position\tPlayer Name\tTeam Name\tRating
0                   1\tTrent Boult\tNZ\t737
1               2\tJosh Hazlewood\tAUS\t709
2             3\tMujeeb Ur Rahman\tAFG\t708
3                 4\tChris Woakes\tENG\t700
4                 5\tMehedi Hasan\tBAN\t692
..                                      ...
95               96\tOshane Thomas\tWI\t355
96               97\tKyle Jamieson\tNZ\t352
97              98\tCharles Amini\tPNG\t351
98                \tMichael Leask\tSCO\t351
99        100\tSharafuddin Ashraf\tAFG\t347

[100 rows x 1 columns]

In [8]:
#6.	Write a python program to scrape cricket rankings from 'www.icc-cricket.com ' . You have to scrape:
#ii)	Top 10 women's ODI players along with the records of their team andrating.
#iii)	Top 10 women's ODI all-rounder along with the records of their team andrating.

In [9]:

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

headers = {
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.100 Safari/537.36"
    }

urls = [
"https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting",
"https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling",

]

final_result_file_name = "All Ranking List.csv"
final_column_names = ["Ranking Type", "Position", "Player Name", "Team Name", "Rating"]
pd.DataFrame(columns=final_column_names).to_csv(final_result_file_name, sep="\t", index=False, encoding="utf-8")

for url in urls:
    request_object = requests.get(url, headers=headers)
    html_content = request_object.text
    print(request_object.status_code, "->", url)
    soup_object = BeautifulSoup(html_content, "lxml")
    for element in soup_object.select('[class="ranking-pos up"], [class="ranking-pos down"]'):
    element.replace_with(BeautifulSoup("<" + element.name + "></" + element.name + ">", "html.parser"))

    ranking_type = soup_object.select_one(".rankings-block__title-container > h4").text

    result_file_name = ranking_type + ".csv"
    column_names = ["Position", "Player Name", "Team Name", "Rating"]
    pd.DataFrame(columns=column_names).to_csv(result_file_name, sep="\t", index=False, encoding="utf-8")

    for element in soup_object.select('table[class="table rankings-table"] tr'):
    if(element.find("th")):
    continue
        data_dict = dict()

        data_dict["Ranking Type"] = ranking_type
        if(element.select_one('[class*="position"]')):
            data_dict["Position"] = element.select_one('[class*="position"]').text
        for player_name in (element.select('a[href*="/player-rankings"]')):
            if(player_name.text.strip()):
                data_dict["Player Name"] = player_name.text
        if(element.select_one('[class^="flag-15"]')):
            data_dict["Team Name"] = element.select_one('[class^="flag-15"]')["class"][-1]
        if(element.select_one('[class$="rating"]')):
        data_dict["Rating"] = element.select_one('[class$="rating"]').text
        if(element.select_one('td.u-hide-phablet')):
            data_dict["Career Best Rating"] = element.select_one('td.u-hide-phablet').text
        for key in data_dict.keys():
            data_dict[key] = re.sub(r"\s+", " ", data_dict[key])
            data_dict[key] = data_dict[key].strip()
        pd.DataFrame([data_dict], columns=column_names).to_csv(result_file_name, sep="\t", index=False, header=False, encoding="utf-8", mode="a")
        pd.DataFrame([data_dict], columns=final_column_names).to_csv(final_result_file_name, sep="\t", index=False, header=False, encoding="utf-8", mode="a")

200 -> https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting
200 -> https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling

In [10]:
# I have renamed the saved file from "Women's ODI Batting Rankings.csv" to "Women ODI Batting Rankings.csv" ----
#----- As I was getting error while loading.
df = pd.read_csv('/content/Women ODI Batting Rankings.csv')
df

   Position\tPlayer Name\tTeam Name\tRating
0                   1\tLizelle Lee\tSA\t761
1                 2\tAlyssa Healy\tAUS\t750
2                  3\tMithali Raj\tIND\t738
3               4\tTammy Beaumont\tENG\t728
4             5\tAmy Satterthwaite\tNZ\t717
..                                      ...
95              96\tNashra Sandhu\tPAK\t188
96               97\tMegan Schutt\tAUS\t184
97              98\tNatasha McLean\tWI\t183
98              99\tSanjida Islam\tBAN\t181
99           100\tShamilia Connell\tWI\t180

[100 rows x 1 columns]

In [11]:
# I have renamed the saved file from "Women's ODI Bowling Rankings.csv" to "Women ODI Bowling Rankings.csv" ----
#----- As I was getting error while loading.
df = pd.read_csv('/content/Women ODI Bowling Rankings.csv')
df

   Position\tPlayer Name\tTeam Name\tRating
0                1\tJess Jonassen\tAUS\t760
1               2\tJhulan Goswami\tIND\t727
2                 3\tMegan Schutt\tAUS\t717
3                4\tMarizanne Kapp\tSA\t715
4            5\tSophie Ecclestone\tENG\t701
..                                      ...
95            96\tStella Campbell\tAUS\t104
96                  97\tAnne Bosch\tSA\t102
97              98\tNilakshi Silva\tSL\t100
98          99\tHansima Karunaratne\tSL\t95
99                 \tKainat Imtiaz\tPAK\t95

[100 rows x 1 columns]