#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [ ]:
#!pip install selenium

In [326]:
import selenium
import pandas as pd
from selenium import webdriver

In [327]:
driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")

In [328]:
driver.get("https://www.naukri.com")

In [329]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [330]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [331]:
url = "https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [332]:
driver.get(url)

In [333]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [334]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#titles_tags[0:10]

In [335]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Associate Data Analyst',
 'SQL Data Analyst',
 'Data Analyst - Marketing',
 'Business Data Analyst',
 'Data Analyst',
 'Openings For Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst']

In [336]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#companies_tags[0:10]

In [337]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Integrated Digital Systems',
 'NetApp',
 'Byjus - Transforming Education using Technology',
 'RANDSTAD INDIA PVT LTD',
 'Amazon Development Centre (India) Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited']

In [338]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#locations_tags[0:10]

In [339]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [340]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
#experience_tags[0:10]

In [341]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['0-2 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '8-12 Yrs',
 '2-4 Yrs',
 '0-3 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-7 Yrs']

In [342]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [343]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_names[0:10]
jobs['experience_required']=experience_list[0:10]
jobs['location']=locations_list[0:10]

In [344]:
jobs

,title,company,experience_required,location
0,Associate Data Analyst,Integrated Digital Systems,0-2 Yrs,Bangalore/Bengaluru
1,SQL Data Analyst,NetApp,3-7 Yrs,Bangalore/Bengaluru
2,Data Analyst - Marketing,Byjus - Transforming Education using Technology,0-2 Yrs,Bangalore/Bengaluru
3,Business Data Analyst,RANDSTAD INDIA PVT LTD,8-12 Yrs,Bangalore/Bengaluru
4,Data Analyst,Amazon Development Centre (India) Pvt. Ltd.,2-4 Yrs,Bangalore/Bengaluru
5,Openings For Data Analyst,Allegis Services India Pvt. Ltd.,0-3 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,Flipkart Internet Private Limited,2-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Flipkart Internet Private Limited,3-7 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Flipkart Internet Private Limited,3-7 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst,Flipkart Internet Private Limited,3-7 Yrs,Bangalore/Bengaluru

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [ ]:
#!pip install selenium

In [8]:
import selenium
import pandas as pd
from selenium import webdriver

In [9]:
driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")

In [10]:
driver.get("https://www.naukri.com")

In [11]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [12]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [13]:
url = "https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [14]:
driver.get(url)

In [15]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [16]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#titles_tags[0:10]

In [17]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Sr. Data Scientist / Data Scientist For Bangalore & Kolkata Locations',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist - Python/Machine Learning Algorithms',
 'Data Scientist/Senior Data Scientist - IT Services Firm',
 'Lead Data Scientist',
 'SDE2 Data Scientist',
 'SDE1 Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [18]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#companies_tags[0:10]

In [19]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['mPokket',
 'Amazon Development Centre (India) Pvt. Ltd.',
 'InnovAccer',
 'Altimax Business Solutions',
 'Pylon Management Consulting Pvt Ltd',
 'Huawei Technologies',
 'Multi Recruit',
 'Multi Recruit',
 'epiFi Technologies',
 'Nutanix India Technologies Private Limited']

In [20]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
#experience_tags[0:10]

In [21]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['3-8 Yrs',
 '7-11 Yrs',
 '5-10 Yrs',
 '4-9 Yrs',
 '5-6 Yrs',
 '4-9 Yrs',
 '2-7 Yrs',
 '8-13 Yrs',
 '3-5 Yrs',
 '4-9 Yrs']

In [22]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#locations_tags[0:10]

In [23]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Kolkata, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru']

In [24]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [25]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_names[0:10]
jobs['experience_required']=experience_list[0:10]
jobs['location']=locations_list[0:10]

In [26]:
jobs

,title,company,experience_required,location
0,Sr. Data Scientist / Data Scientist For Bangal...,mPokket,3-8 Yrs,"Kolkata, Bangalore/Bengaluru"
1,Data Scientist,Amazon Development Centre (India) Pvt. Ltd.,7-11 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
2,Senior Data Scientist,InnovAccer,5-10 Yrs,"Noida, Bangalore/Bengaluru"
3,Senior Data Scientist - Python/Machine Learnin...,Altimax Business Solutions,4-9 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor..."
4,Data Scientist/Senior Data Scientist - IT Serv...,Pylon Management Consulting Pvt Ltd,5-6 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
5,Lead Data Scientist,Huawei Technologies,4-9 Yrs,Bangalore/Bengaluru
6,SDE2 Data Scientist,Multi Recruit,2-7 Yrs,Bangalore/Bengaluru
7,SDE1 Data Scientist,Multi Recruit,8-13 Yrs,Bangalore/Bengaluru
8,Data Scientist,epiFi Technologies,3-5 Yrs,Bangalore/Bengaluru
9,Data Scientist,Nutanix India Technologies Private Limited,4-9 Yrs,"Pune, Bangalore/Bengaluru"

In [27]:
driver.close()

### 3. scrape data for “Data Scientist” designation for first 10 job results. scrape the job-title, job-location, company_name,experience_required.The location filter to be used is “Delhi/NCR”The salary filter to be used is “3-6” lakhs

In [28]:
import selenium
#import time
#from time import sleep
import pandas as pd
from selenium import webdriver
#from selenium.common.exceptions import StaleElementReferenceException

In [29]:
driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")

In [30]:
driver.get("https://www.naukri.com")

In [31]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("delhi")

In [32]:
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [33]:
url = "https://www.naukri.com/data-scientist-jobs-in-delhi?k=data%20scientist&l=delhi&cityTypeGid=9508&ctcFilter=3to6"

In [34]:
driver.get(url)

In [35]:
job_titles=[]
locations_list=[]
company_names=[]
experience_list=[]

In [36]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#titles_tags[0:10]

In [37]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Scientist',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist I/II/III',
 'Academic Counsellor - Data Scientist',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [38]:
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
#locations_tags[0:10]

In [39]:
for i in locations_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Noida, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Mumbai, Delhi / NCR']

In [40]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
#companies_tags[0:10]

In [41]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['EXL Services.com ( I ) Pvt. Ltd.',
 'HCL Technologies',
 'Newgen Software Technologies Ltd.',
 'Hexagon Geosystems Services India P.Ltd.',
 'OLX India Pvt Ltd',
 'GreatLearning',
 'Optum Global Solutions (India) Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Milliman India Pvt Ltd',
 'lericon infomatics pvt.ltd']

In [42]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
#experience_tags[0:10]

In [43]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['3-5 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '6-11 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '3-5 Yrs']

In [44]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [45]:
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_names[0:10]
jobs['experience_required']=experience_list[0:10]
jobs['location']=locations_list[0:10]

In [46]:
jobs

,title,company,experience_required,location
0,Data Scientist,EXL Services.com ( I ) Pvt. Ltd.,3-5 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,4-7 Yrs,Delhi / NCR
2,Data Scientist,Newgen Software Technologies Ltd.,2-5 Yrs,Noida
3,Data Scientist,Hexagon Geosystems Services India P.Ltd.,6-11 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
4,Data Scientist I/II/III,OLX India Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
5,Academic Counsellor - Data Scientist,GreatLearning,1-4 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
6,Associate Data Scientist,Optum Global Solutions (India) Private Limited,2-7 Yrs,Noida
7,Data Scientist,Optum Global Solutions (India) Private Limited,2-6 Yrs,"Noida, Gurgaon/Gurugram"
8,Data Scientist,Milliman India Pvt Ltd,2-5 Yrs,Gurgaon/Gurugram
9,Data Scientist,lericon infomatics pvt.ltd,3-5 Yrs,"Mumbai, Delhi / NCR"

In [47]:
driver.close()

#### Q4: Write a python program to scrape data for first 10 job results for Data scientistDesignation in Noida location. You have to scrape company_name, No. of daysago when job was posted, Rating of the company.https://www.glassdoor.co.in/index.htm

In [3]:
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
import numpy as np
import pandas as pd
from time import sleep
from random import randint
from selenium import webdriver

In [4]:
driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")

In [5]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [6]:
search_job = driver.find_element_by_id("sc.keyword")
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_id("sc.location") 
search_loc.send_keys("Noida")

In [7]:
search_btn = driver.find_element_by_xpath("//span[@class='css-8zxfjs']")
search_btn.click()

In [8]:
url = "https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [9]:
driver.get(url)

In [10]:
days_ago=[]

In [11]:
daysago_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
daysago_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="74d06ab9-2301-4b51-986a-44282f38b9b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="2216ad28-27eb-42a4-93b4-9960b1308bea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="0392627f-f913-43d0-b741-2f77e9f54599")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="62a82faa-b07f-4307-9c73-d4a92dfb8986")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="3947f617-4e6a-4770-bb34-b32a092d2024")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="866b53e3-42a4-4486-8367-10c5f5328c9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="7cc11374-55b0-4f2c-8b4d-a71ff224bc7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="80166ce6-2298-4c81-b82c-f1142cbca6a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="9175f29e-831a-4886-b92f-cfb769c48d7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="df9a475d-9065-4395-8442-3272ddc3a975")>]

In [12]:
for i in daysago_tags:
    ago=i.text
    days_ago.append(ago)
days_ago[0:10]

['30d+', '4d', '4d', '5d', '30d+', '30d+', '14d', '8d', '30d+', '18d']

In [13]:
company_names=[]

In [14]:
companies_tags=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="c1bd05a4-8894-4632-b280-25dd3cdb9e8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="5cd09929-1a88-415f-9e67-a61cbaf9d504")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="2c9b55bb-69cb-47eb-85b2-32aa7eb56a3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="445adfa4-dcb4-4618-8354-0461d079d507")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="cbf94dc9-3052-42d3-b86e-ec59de6daf59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="04d68f10-5040-43fd-bb7a-2f7ecee6e2f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="72c3d344-7757-4c5c-8597-c599ce9d733b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="2f3a0c49-f2aa-4184-a23c-8344f554f603")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="8e4ad923-56ca-4368-a995-c7c3ab9bcee2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="aabe03d3-3c26-474f-bdf4-78f4741e63ff")>]

In [15]:
for i in companies_tags:
    company=i.text
    company_names.append(company)
company_names[0:10]

['Instrovate Technologies',
 'Pixel Vision',
 'Innovacer',
 '',
 'Salasar New Age Technologies',
 'AlgoScale Technologies Private Limited',
 'Crowe',
 'UnitedHealth Group',
 'Techlive',
 'CODEC Networks Pvt ltd']

In [16]:
company_rating=[]

In [17]:
companyratings_tags=driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']")
companyratings_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="1423ce5d-738a-4f6f-a83c-3343a3d14f03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="82d498ad-2bcc-43d8-b2f8-54eb617f5299")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="cc526cc9-bd38-4081-821d-7a2591f8d1d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="179af12a-aebf-4c7e-af1a-5a3f344db84c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="5cd35e29-cbf4-4aaa-9fc4-e14aa4fc5ef0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="732611c7-7b65-4cf0-beae-4bc83ea166cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="6b835f2a-36b1-445c-8c3e-cc952edaa398")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="6f9b1eaa-7044-48ea-8c39-db8c731e76be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="b887ea9b-5188-407c-bea2-47945db7d3f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1645d6dd794592d54c8a953dba4b9c98", element="d86fdd69-1052-4d33-9dde-e7dc251aa139")>]

In [18]:
for i in companyratings_tags:
    cmpnyrtng=i.text
    company_rating.append(cmpnyrtng)
company_rating[0:10]

['3.8', '3.7', '4.0', '3.8', '3.7', '5.0', '3.1', '4.5', '4.0', '4.3']

In [19]:
print(len(days_ago),len(company_names),len(company_rating))

30 30 21

In [20]:
glassdoor=pd.DataFrame({})
glassdoor['days_ago']=days_ago[0:10]
glassdoor['company_names']=company_names[0:10]
glassdoor['company_rating']=company_rating[0:10]

In [21]:
glassdoor

  days_ago                           company_names company_rating
0     30d+                 Instrovate Technologies            3.8
1       4d                            Pixel Vision            3.7
2       4d                               Innovacer            4.0
3       5d                                                    3.8
4     30d+            Salasar New Age Technologies            3.7
5     30d+  AlgoScale Technologies Private Limited            5.0
6      14d                                   Crowe            3.1
7       8d                      UnitedHealth Group            4.5
8     30d+                                Techlive            4.0
9      18d                  CODEC Networks Pvt ltd            4.3

In [22]:
driver.close()

# 5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.

In [23]:
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
import numpy as np
import pandas as pd
from time import sleep
from random import randint
from selenium import webdriver

In [24]:
driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")

In [25]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [26]:
search_job = driver.find_element_by_class_name("keyword")
search_job.send_keys("Data Scientist")
search_loc = driver.find_element_by_class_name("loc") 
search_loc.send_keys("Noida")

In [27]:
search_btn = driver.find_element_by_xpath("//button[@id='HeroSearchButton']")
search_btn.click()

In [40]:
url = "https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [41]:
driver.get(url)

In [42]:
avg_salary=[]

In [43]:
avgsalry_tags=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
avgsalry_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="009c49af-fad7-41e2-88a8-c3b11ba860e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="ee04f74a-999e-4aba-85af-ad095eaffa34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="dcfdbbd2-0b8e-4280-b72b-5e886e678576")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="620fcce7-c134-41b8-b8d9-69f60c6063bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="ae3fad90-258e-4d2c-ab9c-8164699d6c67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="5b6b61d4-cce5-4767-a8d8-98448b132769")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="84a32d94-8885-4885-9ca8-ab6a533d39f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="2babe7f3-6143-4a77-bece-072d3d3a709d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="9ade7dbe-5199-457a-befe-4df96f093d76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="5f15c567-e22f-4da1-a3d2-dd7ed16f8264")>]

In [44]:
for i in avgsalry_tags:
    avgslry=i.text
    avg_salary.append(avgslry)
avg_salary[0:10]

['₹6,31,184\n /yr',
 '₹9,08,246\n /yr',
 '₹12,13,338\n /yr',
 '₹7,61,766\n /yr',
 '₹12,49,716\n /yr',
 '₹12,80,000\n /yr',
 '₹12,42,519\n /yr',
 '₹12,70,000\n /yr',
 '₹11,71,868\n /yr',
 '₹14,55,430\n /yr']

In [79]:
min_max_salary=[]

In [80]:
#minmaxsalry_tags=driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")
minmaxsalry_tags=driver.find_elements_by_xpath("//div[@class='d-none d-lg-block']")
minmaxsalry_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="e643c3a0-d4ae-4cc0-befd-d51375bf4f9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="dbaa9f5e-cf0e-4191-8ddf-23a819dd7d8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="3e44250c-0999-4766-82e1-39da538345d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="ef0f59ad-4d23-4008-a853-9d0c50e1a921")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="b9c4de66-4712-4f7f-aab8-74669b568d17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="b5b6280b-ec21-4b86-9fcf-4f2b70c188a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="55acc220-56f2-4763-b7a1-34051b1f6c86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="d215005e-16f6-4251-8f91-8756dda39322")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="b2a4e792-646e-4819-a1f7-c2159c7e128c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="c95f2abd-74eb-4a42-b2b4-6c598b02245b")>]

In [81]:
for i in minmaxsalry_tags:
    mnmxslry=i.text
    min_max_salary.append( mnmxslry)
min_max_salary[0:10]

['₹4L\n₹13L',
 '₹1L\n₹28L',
 '₹6L\n₹23L',
 '₹4L\n₹17L',
 '₹5L\n₹1Cr',
 '₹8L\n₹16L',
 '₹6L\n₹20L',
 '₹8L\n₹20L',
 '₹2L\n₹22L',
 '₹10L\n₹18L']

In [82]:
cmpny_name=[]

In [83]:
companyName_tags=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
companyName_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="cdbe3372-ef74-4834-ac17-87e8086838df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="b8638877-8e4b-43f7-8ebf-29a03fd0ddda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="44b4b299-681f-4ae9-bb5e-31843182c772")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="95d2ba3e-f68e-45ec-b99b-0346757affac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="62d96d06-3273-4ac5-94f0-a6f819ed4769")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="ad44c6dc-612e-473d-8ead-4a88f084e9f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="9509a2f8-6401-42ca-8451-2e94ef544c4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="7391d244-8a86-4f1e-8d50-87ecf37fd36a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="2dab5d4f-880c-4fd1-aa32-2fb49b9677e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="a3a6b64a-adce-492a-b65a-ad95f0ba3a24")>]

In [84]:
for i in companyName_tags:
    name=i.text
    cmpny_name.append(name)
cmpny_name[0:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'EXL Service',
 'Optum',
 'ZS Associates',
 'Optum Global Solutions']

In [85]:
company_rating=[]

In [86]:
rtng_tags=driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
rtng_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="7ad6bee0-fedb-44d4-9b6b-83da9e7bc105")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="68f0b147-b76f-4f9d-aa40-d7adf3a9d48f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="c2cf962a-a7b6-4211-8747-c203c60ca83d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="2194cf45-6b6a-4ebb-a0a8-0b5fcf084b47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="836d3423-e7c2-4542-9e80-66a1144979d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="4afcdfcc-21b3-4b6f-aec8-9980f7916cff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="737e8f75-9876-4fb2-a245-79bfed716fe6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="b5f56f1d-4ed4-4c54-94b1-996c51aaef95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="9d2e01c8-5360-419c-a682-792722531a3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b58fac2b86f12d18c12688aa8b2c78ea", element="38b6f0d1-772e-4567-a981-d3a573b0cfef")>]

In [87]:
for i in rtng_tags:
    rating=i.text
    company_rating.append(rating)
company_rating[0:10]

['3.9', '3.9', '4.1', '4', '3.7', '3.7', '3.6', '3.7', '4', '3.9']

In [88]:
print(len(avg_salary),len(min_max_salary),len(cmpny_name),len(company_rating))

20 20 20 20

In [89]:
glassdoor5=pd.DataFrame({})
glassdoor5['avg_salary']=avg_salary[0:10]
glassdoor5['min_max_salary']=min_max_salary[0:10]
glassdoor5['cmpny_name']=cmpny_name[0:10]
glassdoor5['company_rating']=company_rating[0:10]

In [90]:
glassdoor5

         avg_salary min_max_salary                 cmpny_name company_rating
0   ₹6,31,184\n /yr      ₹4L\n₹13L  Tata Consultancy Services            3.9
1   ₹9,08,246\n /yr      ₹1L\n₹28L                        IBM            3.9
2  ₹12,13,338\n /yr      ₹6L\n₹23L                  Accenture            4.1
3   ₹7,61,766\n /yr      ₹4L\n₹17L         Ericsson-Worldwide              4
4  ₹12,49,716\n /yr      ₹5L\n₹1Cr                  Delhivery            3.7
5  ₹12,80,000\n /yr      ₹8L\n₹16L         UnitedHealth Group            3.7
6  ₹12,42,519\n /yr      ₹6L\n₹20L                EXL Service            3.6
7  ₹12,70,000\n /yr      ₹8L\n₹20L                      Optum            3.7
8  ₹11,71,868\n /yr      ₹2L\n₹22L              ZS Associates              4
9  ₹14,55,430\n /yr     ₹10L\n₹18L     Optum Global Solutions            3.9

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand, 2. Product Description, 3. Price, 4. Discount %

In [289]:
import numpy as np
import pandas as pd
from time import sleep
from random import randint
from selenium import webdriver

In [290]:
driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")

In [291]:
driver.get("https://www.flipkart.com")

In [293]:
search_job = driver.find_element_by_class_name('_3704LK')
search_job.send_keys("sunglasses")

In [294]:
search_btn = driver.find_element_by_class_name('L0Z3Pu')
search_btn.click()

In [295]:
pages = np.arange(1,4,1)
brand=[]
product_desc=[]
price=[]
discount=[]


for page in pages:
    
    page="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off" + str(page) 
    driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")
    driver.get(page)  
    sleep(randint(2,10))
    #soup = BeautifulSoup(driver.page_source, 'html.parser')
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    product_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    

    
        
    for i in brand_tags:
        brnd=i.text
        brand.append(brnd)
    brand[0:100]
    
    
    for i in product_tags:
        prdt=i.text
        product_desc.append(prdt)
    product_desc[0:100]
    
    
    for i in price_tags:
        prce=i.text
        price.append(prce)
    price[0:100]

    for i in discount_tags:
        dcnt=i.text
        discount.append(dcnt)
    discount[0:100]

In [296]:
print(len(brand),len(product_desc),len(price),len(discount))

120 120 120 120

In [297]:
flipkart=pd.DataFrame({})
flipkart['brand']=brand[0:100]
flipkart['product_desc']=product_desc[0:100]
flipkart['price']=price[0:100]
flipkart['discount']=discount[0:100]

In [298]:
flipkart

,brand,product_desc,price,discount
0,VINCENT CHASE,UV Protection Aviator Sunglasses (53),₹999,50% off
1,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (53)",₹799,60% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
...,...,...,...,...
95,VINCENT CHASE,UV Protection Aviator Sunglasses (Free Size),₹999,50% off
96,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹546,31% off
97,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹229,67% off
98,GANSTA,UV Protection Aviator Sunglasses (57),₹239,88% off
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,344",32% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [284]:
import numpy as np
import pandas as pd
from time import sleep
from random import randint
from selenium import webdriver

In [285]:
pages = np.arange(1,6,1)
rating=[]
review_summary=[]
full_review=[]

for page in pages:
    
    page="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART" + str(page) 
    driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")
    driver.get(page)  
    sleep(randint(2,10))
    
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    review_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    fullreview_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    

    
        
    for i in rating_tags:
        ratingt=i.text
        rating.append(ratingt)
    rating[0:100]
    
    
    for i in review_tags:
        reviewt=i.text
        review_summary.append(reviewt)
    review_summary[0:100]
    
    
    for i in fullreview_tags:
        fullreviewt=i.text
        full_review.append(fullreviewt)
    full_review[0:100]

In [286]:
print(len(rating),len(review_summary),len(full_review))

50 50 50

In [287]:
flipkartr=pd.DataFrame({})
flipkartr['rating']=rating[0:50]
flipkartr['review_summary']=review_summary[0:50]
flipkartr['full_review']=full_review[0:50]

In [288]:
flipkartr

,rating,review_summary,full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Best in the market!,Great iPhone very snappy experience as apple k...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
9,5,Highly recommended,What a camera .....just awesome ..you can feel...
10,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
11,5,Simply awesome,Really satisfied with the Product I received.....
12,5,Perfect product!,Amazing phone with great cameras and better ba...
13,5,Fabulous!,This is my first iOS phone. I am very happy wi...
14,5,Best in the market!,Great iPhone very snappy experience as apple k...
15,5,Worth every penny,Previously I was using one plus 3t it was a gr...
16,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
17,4,Good choice,So far it’s been an AMAZING experience coming ...
18,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
19,5,Highly recommended,What a camera .....just awesome ..you can feel...
20,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
21,5,Simply awesome,Really satisfied with the Product I received.....
22,5,Perfect product!,Amazing phone with great cameras and better ba...
23,5,Fabulous!,This is my first iOS phone. I am very happy wi...
24,5,Best in the market!,Great iPhone very snappy experience as apple k...
25,5,Worth every penny,Previously I was using one plus 3t it was a gr...
26,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
27,4,Good choice,So far it’s been an AMAZING experience coming ...
28,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
29,5,Highly recommended,What a camera .....just awesome ..you can feel...
30,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
31,5,Simply awesome,Really satisfied with the Product I received.....
32,5,Perfect product!,Amazing phone with great cameras and better ba...
33,5,Fabulous!,This is my first iOS phone. I am very happy wi...
34,5,Best in the market!,Great iPhone very snappy experience as apple k...
35,5,Worth every penny,Previously I was using one plus 3t it was a gr...
36,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
37,4,Good choice,So far it’s been an AMAZING experience coming ...
38,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
39,5,Highly recommended,What a camera .....just awesome ..you can feel...
40,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
41,5,Simply awesome,Really satisfied with the Product I received.....
42,5,Perfect product!,Amazing phone with great cameras and better ba...
43,5,Fabulous!,This is my first iOS phone. I am very happy wi...
44,5,Best in the market!,Great iPhone very snappy experience as apple k...
45,5,Worth every penny,Previously I was using one plus 3t it was a gr...
46,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
47,4,Good choice,So far it’s been an AMAZING experience coming ...
48,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
49,5,Highly recommended,What a camera .....just awesome ..you can feel...

## Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [48]:
import numpy as np
import pandas as pd
from time import sleep
from random import randint
from selenium import webdriver

In [49]:
driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")

In [50]:
driver.get("https://www.flipkart.com")

In [51]:
search_job = driver.find_element_by_class_name('_3704LK')
search_job.send_keys("sneakers")

In [55]:
search_btn = driver.find_element_by_class_name('L0Z3Pu')
search_btn.click()

In [58]:
pages = np.arange(1,4,1)
brand=[]
product_desc=[]
price=[]
discount=[]


for page in pages:
    
    page="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off" + str(page) 
    driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")
    driver.get(page)  
    sleep(randint(2,10))
    #soup = BeautifulSoup(driver.page_source, 'html.parser')
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    product_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    

    
        
    for i in brand_tags:
        brnd=i.text
        brand.append(brnd)
    brand[0:100]
    
    
    for i in product_tags:
        prdt=i.text
        product_desc.append(prdt)
    product_desc[0:100]
    
    
    for i in price_tags:
        prce=i.text
        price.append(prce)
    price[0:100]

    for i in discount_tags:
        dcnt=i.text
        discount.append(dcnt)
    discount[0:100]

In [59]:
print(len(brand),len(product_desc),len(price),len(discount))

120 108 120 114

In [61]:
flipkart=pd.DataFrame({})
flipkart['brand']=brand[0:100]
flipkart['product_desc']=product_desc[0:100]
flipkart['price']=price[0:100]
flipkart['discount']=discount[0:100]

In [62]:
flipkart

,brand,product_desc,price,discount
0,Wildcraft,True Black Shoe Sneakers For Men,"₹2,599",69% off
1,Wildcraft,True White Shoe Sneakers For Men,"₹2,599",60% off
2,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹399,20% off
3,Magnolia,Sneakers For Men,₹398,85% off
4,BIRDE,Birde Trendy Casual Shoes Sneakers For Men,₹399,75% off
...,...,...,...,...
95,Bavis,Series 7 Sneakers For Men,₹420,50% off
96,HOTSTYLE,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹282,37% off
97,bluemaker,Rebound JOY Sneakers For Men,₹499,60% off
98,Robbie jones,Original Luxury Branded Fashionable Men's Casu...,₹474,57% off
99,Chevit,Sneakers For Men,₹899,58% off

# Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below imag

In [262]:
import numpy as np
import pandas as pd
from time import sleep
from random import randint
from selenium import webdriver

In [263]:
driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")

In [264]:
driver.get("https://www.myntra.com/shoes")

In [265]:
pages = np.arange(1,5,1)
brand=[]
product_desc=[]
price=[]

for page in pages:
    
    page="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6897.0_13595.01_6897.0%20TO%2013595.01%2C6972.0_13645.01_6972.0%20TO%2013645.01%2C13645.0_20318.0_13645.0%20TO%2020318.0" + str(page) 
    driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")
    driver.get(page)  
    sleep(randint(2,10))
    
    brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    product_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
    price_tags=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
   
    

    for i in brand_tags:
        brnd=i.text
        brand.append(brnd)
    brand[0:100]
    
    
    for i in product_tags:
        prdt=i.text
        product_desc.append(prdt)
    product_desc[0:100]
    
    
    for i in price_tags:
        prce=i.text
        price.append(prce)
    price[0:100]

In [266]:
print(len(brand),len(product_desc),len(price))

200 200 104

In [267]:
myntra=pd.DataFrame({})
myntra['brand']=brand[0:100]
myntra['product_desc']=product_desc[0:100]
myntra['price']=price[0:100]

In [268]:
myntra

                   brand                   product_desc      price
0                   ALDO          Leather Solid Loafers  Rs. 10499
1                   Nike  Men Zoom Span 4 Running Shoes  Rs. 11199
2                   ALDO              Men Driving Shoes  Rs. 10399
3                   Puma  Men Jamming 2.0 Running Shoes   Rs. 7999
4        PUMA Motorsport  Unisex Scuderia Ferrari Shoes   Rs. 7773
..                   ...                            ...        ...
95        Tommy Hilfiger       Men Lightweight Sneakers  Rs. 11199
96          Hush Puppies              Men Formal Derbys   Rs. 7999
97  Heel & Buckle London           Men Leather Sneakers   Rs. 7006
98          Hush Puppies             Men Leather Derbys  Rs. 10399
99          Calvin Klein     Men Solid Leather Sneakers   Rs. 8900

[100 rows x 3 columns]

# 10 Scrap Amazon first 10 Laptops

In [64]:
import selenium
import pandas as pd
from selenium import webdriver

In [65]:
driver = webdriver.Chrome(r"C:/Users/Lab/Desktop/FlipRobo Internship/chromedriver.exe")

In [66]:
driver.get("https://www.amazon.in")

In [67]:
search_job = driver.find_element_by_id('twotabsearchtextbox')
search_job.send_keys("Laptop")

In [68]:
search_btn = driver.find_element_by_xpath("//input[@id='nav-search-submit-button']")
search_btn.click()

In [69]:
driver.get("https://www.amazon.in/s?k=Laptop&ref=nb_sb_noss_2")

In [70]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [71]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

h2 class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"
<div class="a-row a-size-small"
<span class="a-offscreen">₹89,990</span>

In [72]:
laptop_title=[]
lratings=[]
laptop_price=[]

In [73]:
titles_tags=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="b2e70baf-d641-4c70-8f25-4a22b965e9d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="d856c4e4-fdf0-4f86-b44d-dfac5e8a3016")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="a54a2bbf-3e21-45ec-a213-bc7536c8219f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="4b203b7e-bb8a-4762-a600-5ac312096eef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="ca9ea18c-0808-4dad-a111-51fb38f8a226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="77a201a1-c949-4129-be47-6a552a53f7b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="4e2f7da2-caec-477c-9c5e-7429950c08ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="a010913c-5f4d-4849-81c7-7f58e717a681")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="6a259476-0ca7-4e42-bbfd-1d334a28e415")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="241ea237-8372-40c5-84d1-cb4e52591f20")>]

In [74]:
for i in titles_tags:
    title=i.text
    laptop_title.append(title)
laptop_title[0:10]

['Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6" (39.62 cm) FHD IPS 300 nits Antiglare 100% sRGB Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg), 20VEA0HHIH',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU), Silver',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Acer Nitro 5 11th Gen Intel Core i7-11800H 15.6" (39.62cms) Full HD Gaming Laptop (16 GB/256GB SSD/1 TB HDD/Win 10/RTX 3050 Ti 4GB Graphics/144 Hz, Black, 2.4 kg/RGB Backlit Keyboard) AN515-57',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6" (39.62 cm) FHD IPS 300 nits Antiglare 100% sRGB Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg), 20VEA0HHIH',
 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Gray/2 Kg), FX516PCZ-HN091T',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)']

In [75]:
lratings=[]

In [76]:
r_tags=driver.find_elements_by_xpath("//*[contains(@class,'a-icon-star')]//*[contains(@class,'a-icon-alt')]")
r_tags[0:10]
                                                 
#"//span[@class='a-link-normal s-navigation-item']/span"
                       
#span class="a-icon-alt">4.3 out of 5 stars</span></i>

[<selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="c8a7dc87-53a3-4b72-b192-4c93e1c4cdca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="862dc5fa-7695-4ca0-a81f-048ef4afc65c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="fb7e42a9-58fb-4008-abfa-dc583e3c656c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="b6bf2a11-d051-4f43-9915-3cd4d25fa18f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="5864ed08-09fe-4453-ac2d-d43a910a3529")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="62343dce-9577-419b-9805-e93f0ca9621b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="addaa5fa-2f48-4a32-a76f-06dda72c8b83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="a4ddf8b6-956e-47c6-bdd4-5d479bab3d64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="c11c4ec8-a89d-419a-ab85-e36391737bbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="e1edbd7f-4b19-420d-94aa-6f7a0c5ebd8c")>]

In [77]:
for i in r_tags:
    r=i.text
    lratings.append(r)
lratings[0:10]

['', '', '', '', '', '', '', '', '', '']

In [78]:
lprice_tags=driver.find_elements_by_xpath("//a[@class='a-size-base a-link-normal a-text-normal']")
lprice_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="d5aadbf5-f422-4d2f-97a1-ae5e37e6ec29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="2a40dbca-db66-4857-ba1c-da5bc1412fb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="bb0dc941-e040-4e90-9aff-17258f71d176")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="5fd13a19-f778-4493-9d70-889a6d3b7c99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="ba595dc0-eb69-449f-a669-63fdfdd62bb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="f3fbae4a-4e3f-42ac-a6dd-bf26498a3243")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="31880931-d2b6-4347-a621-8dc1a5c42a9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="7bf54485-f13c-4944-bea0-ddf385236d81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="fc08c572-6f92-4748-b80c-0b0ffdc79c66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a3defcf7256f8ca82ebfb0c1e478de53", element="dbf583ab-e1d6-4946-8d41-1568ab9bab3f")>]

In [79]:
for i in lprice_tags:
    p=i.text
    laptop_price.append(p)
laptop_price[0:10]

['₹84,990\n₹1,33,200',
 '₹89,990\n₹1,20,390',
 '₹24,990\n₹43,199',
 '₹84,990\n₹97,867',
 '₹53,990\n₹65,999',
 '₹89,990\n₹1,19,999',
 '₹5,56,524\n₹5,99,990',
 '₹84,990\n₹1,33,200',
 '₹93,990\n₹1,11,990',
 '₹84,990\n₹95,749']

In [80]:
print(len(laptop_title),len(lratings),len(laptop_price))

27 27 25

In [82]:
amazon=pd.DataFrame({})
amazon['laptop_title']=laptop_title[0:10]
amazon['lratings']=lratings[0:10]
amazon['laptop_price']=price[0:10]

In [83]:
amazon

                                        laptop_title lratings laptop_price
0  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....                ₹2,599
1  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....                ₹2,599
2  Life Digital Laptop 15.6-inch (39.62 cms) (Int...                  ₹399
3  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...                  ₹398
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...                  ₹399
5  Acer Nitro 5 11th Gen Intel Core i7-11800H 15....                  ₹499
6  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...                  ₹499
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....                  ₹554
8  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...                  ₹348
9  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...                  ₹499